<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{competition?.name}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-hide-sm">
    <ion-row>
      <ion-col size-md="4" *ngFor="let team of teams">
        <ion-card [routerLink]="['teams', team.id]">
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ng-container
                  [ngTemplateOutlet]="teamTemplate"
                  [ngTemplateOutletContext]="{team}"
                >
                </ng-container>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="ion-hide-md-up">
    <ion-item *ngFor="let team of teams" [routerLink]="['teams', team.id]">
      <ng-container
        [ngTemplateOutlet]="teamTemplate"
        [ngTemplateOutletContext]="{team}"
      >
        ></ng-container
      >
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #teamTemplate let-team="team">
  <ion-avatar slot="start">
    <img [src]="team.crestUrl || team.getAvatarImageUrl" />
  </ion-avatar>
  <ion-label>
    <h2>{{team.name}}</h2>
    <p>{{team.area.name}}</p>
  </ion-label>
</ng-template>
