<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{team.shortName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img
        [ngClass]="{'expand':team.crestUrl}"
        [src]="team.crestUrl || team.getAvatarImageUrl+ '&size=100&rounded=true'"
      />
      <ion-card-subtitle
        >{{team.area.name}} – {{team.founded}}</ion-card-subtitle
      >
      <ion-card-title
        >{{ team.name }}
        <ng-container *ngIf="team.tla">- ({{team.tla}}) </ng-container>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="team.venue"><b>Stadium: </b> {{team.venue}}</p>
      <p *ngIf="team.clubColors"><b>Club colors: </b> {{team.clubColors}}</p>
      <br />
      <h2><b> Contact information </b></h2>
      <p *ngIf="team.address">
        <b>Address: </b>
        <a [href]="team.getGoogleMapsUrl">{{team.address}} </a>
      </p>
      <p *ngIf="team.phone">
        <b>Phone: </b> <a href="tel:{{team.phone}}">{{team.phone}}</a>
      </p>
      <br />
      <ion-button size="small" [href]="team.website" fill="outline"
        >Visit website</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Team Members</ion-label>
    </ion-list-header>

    <ng-container *ngIf="team.squad.length > 0; else emptyState">
      <ion-item *ngFor="let squadMember of team.squad">
        <ion-avatar slot="start" size="large">
          <img [src]="squadMember.getAvatarImageUrl" [alt]="squadMember.name" />
        </ion-avatar>
        <ion-label>
          <h2>{{squadMember.name}}</h2>
          <h3>Postion: {{squadMember.position}}</h3>
          <p>Nationality: {{squadMember.nationality}}</p>
          <p>Age: {{squadMember.getAge}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #emptyState>
  <ion-item lines="none">
    <ion-label>No data found</ion-label>
  </ion-item>
</ng-template>
